# ── Copy to .env and fill in your values ──────────────────────────────────────

# Groq AI — FREE at console.groq.com (no credit card needed)
# GROQ_API_KEY=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

# WhatsApp Cloud API (from developers.facebook.com)
# WHATSAPP_TOKEN=EAANONnIZAZCfIBQ2B4L0qbl1Rfrh11B8kbRLdtgGb1WW7j5abCL20SR0gMuzZBvRnbGZB2agD9CZASxtevxM0Q2LO7c3u95CjZBhRQ4vNZAT4KZArn9YmO36Rx9XTN8JaJFZAms4ZBysBFCV8NkHjjDlkHgxQYJJPiZBlpynZCLceMI3GSWn2da8BwZCLZAz9ccG0f3wZDZD
# WHATSAPP_PHONE_ID=957629777443719

# Webhook verification (any secret string you choose)
# VERIFY_TOKEN=agrifresh_secret_2024

ADMIN_SECRET=phasal123


FLOW_SHOPPING_ID=1926551408029255
FLOW_SUPPORT_ID=1933182807315833


GROQ_API_KEY=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
JSONBIN_API_KEY=$2a$10$Rz9vonQjDxUfopMmACKF6.29RgZ5vfRn0oSuyk2.2KHrY7.TgPIl2
JSONBIN_BIN_ID=69b66762aa77b81da9e72132
JSONBIN_USERS_BIN_ID=69bb9e4ac3097a1dd53b746e



VERIFY_TOKEN=agrifresh_secret_2024
WHATSAPP_PHONE_ID=960149450525575
WHATSAPP_TOKEN=EAAWYwXNG9j8BQ8DgLhjbqYv9rvWMnZAR8YIh87vYJBkGLfRd2K2WDhZCGRbj2FtUFvFgor8U7UPyXlBf474JSuszaO9u6ydjILyqsM8rPDcYbwS35NQZBc1N3YHY8zDz90JXPu7zRzvuHDcUjqXU7xmpRWRKTsztBlU96a3XwhGZC4DAx75qEDVNszPItQl1SQZDZD
